body {
  background: #f2e9e9;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #ffffff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #cedde7;
  margin-bottom: 8px;
  font-size: 16px;
  padding: 8px;

}

.content {
  background: #e3f4ff;
  margin-bottom: 8px;
  padding: 16px 8px;

}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  text-align: center;
}

button {
  display: block;
  background: white;
  padding: 8px 24px;
  border: 1px solid #eee;
  margin: 0 auto;
}